<li class="<%"completed" if item.complete?%>">
  <div class="item-text">
    <div class="row">
    <%= form_for([@list, item]) do |f| %>
      <%= f.check_box :status, :class => "col-offset-2", :checked => item.complete? %>
      <%= f.submit %>
    <% end %>

<!-- div class="col-xs-12 col-sm-6 col-md-4"> -->
  <label class="col"><%= item.description %></label>
    <%= form_tag(list_item_path(item.list, item), :method => :delete) do %>
      <button type="submit" class="col-destroy">X</button>
    <%end%>
  </div>
  </div>
</li>
