<!DOCTYPE html>
<html>
<head>
  <title>Generic To do List</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>To Do Application</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<%= stylesheet_link_tag 'application' %>

</head>
<body>
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <%if logged_in? %>
        <div class="letterCircle"><%=current_user_name[0]%></div>
        <a class="navbar-brand">Level: <%= current_user_level %></a>
      <% end %>

      <%if !logged_in? %>
        <a class="btn btn-primary" href="/users/login">Sign In</a>
      <%end%>
      <%if logged_in? %>
        <a class="nav-link" href="/">My Lists</a>
        <a class="btn btn-primary" href="/logout">Log Out</a>
      <% end %>
    </div>
  </nav>



  <!-- Navigation -->



  <%= yield %>
  <div class="footer">
      <p>This is a List App. Woah! First time this has been done! Wow!</p>
  </div>
</body>
</html>
